// Primary color
$primaryOrange: #fb7413;

//Neutral Color
$neutralWhite: #ffffff;
$neutralBlue: #191e26;
$neutralLightGrey: #959eac;
$neutralMediumGrey: #7c8798;
$neutralDarkBlue: #252d37;

$neutralVeryDarkBlue: #121417;
